/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styling for the rock information sections */
.rock-info-section {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rock-info-section .text-content {
    flex: 2;
    padding-right: 20px;
}

.rock-info-section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.rock-info-section p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.rock-info-section .image-content {
    flex: 1;
    text-align: right;
}

.rock-info-section .image-content img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

footer .social-links a:hover {
    text-decoration: underline;
}
